{% include base.html %}

<nav class="overlay-menu" id="overlaynavigation" aria-hidden="true">

    <div class="overlay-menu__nav">
        <a href="/" class="overlay-menu__logo">
            <img src="/assets/img/logo-white.png" alt="Dash" class="logo">
        </a>
        <ul class="overlay-menu__list">
            <li class="overlay-menu__item"><a href="{{ basenav }}/get-dash/" class="overlay-menu__link">{% t nav.get-dash %}</a></li>
            <li class="overlay-menu__item"><a href="{{ basenav }}/merchants/" class="overlay-menu__link">{% t nav.merchants %}</a></li>
            <li class="overlay-menu__item"><a href="{{ basenav }}/network/" class="overlay-menu__link">{% t nav.currency %}</a></li>
            <li class="overlay-menu__item"><a href="{{ basenav }}/community/" class="overlay-menu__link">{% t nav.community %}</a></li>
            <li class="overlay-menu__item"><a href="{{ basenav }}/team" class="overlay-menu__link">{% t nav.team %}</a></li>
            <li class="overlay-menu__item"><a href="{{ basenav }}/blog/" class="overlay-menu__link">{% t nav.blog %}</a></li>
            <li class="overlay-menu__item"><a href="{{ basenav }}/evolution/" class="overlay-menu__link">{% t nav.evolution %}</a></li>
            {% if page.layout != 'post' %}
            <li class="overlay-menu__item overlay-menu__item--languages">
                <ul class="overlay-menu__sublist">
                    <!-- TODO: dynamically generate this list -->

                    <li class="overlay-menu__subitem">
                        <a href="{{ page.url }}" class="overlay-menu__link {% if site.lang == 'en' %}is-active{% endif %}"><span class="flag us"></span> English</a>
                    </li>
                </ul>
            </li>
            {% endif %}
        </ul>
    </div>

</nav>
