/*
footer
	nav.content
		section x5
			<text>
			ul
				li
	.footer--menu.content
		.footer--languagePicker
		a x3
	.footer--legal
		.content
			.footer--copyright
			a
*/

.footer {
	background-color: #333333;
	color: #717171;
	padding-top: 4em;
	padding-bottom: 3em;


	a {
		color: $color-white;
    	line-height: 1.7;
	}

	.direction-container {
		text-align: right;
		background-color: transparent;
		width: 110px;
		padding: 0px;
		display: inline-block;
		visibility: hidden;
		position: fixed;
		right: 0;
		bottom: 0;
		-webkit-transition: opacity 600ms, visibility 600ms;
		transition: opacity 600ms, visibility 600ms;
		z-index: 999;
	}

	.direction {
		list-style: none;
		margin:10px;
	}

	.direction li {
		display: inline;
	}

	.direction li a {
		background-color: blue;
		color: #fff;
		padding: 10px 20px;
		font-size: 20px;
		font-variant: small-caps;
		display: inline-block;
		text-align: center;
	}

	.direction li a:hover {
		background-color: yellow;
		color: #000;
		opacity: 0.8;
		transition: all 1s ease-in-out;
		-webkit-transition: all .7s ease-in-out;
	}

	#topBtn {
		-webkit-transition: opacity 600ms, visibility 600ms;
		transition: opacity 600ms, visibility 600ms;
	}

	&__nav {
		@extend %clearfix;
	}

	&__section {
    	vertical-align: top;
		display: inline-block;
		padding: 20px;
		// display: table-cell;
		> ul {
			margin: 1em 0 0;
			padding: 0;
			> li {
				list-style: none;
			}
		}
	}
	&__menu {
		padding: 20px 20px 10px;
		a {
			color: #717171;
			padding: 0 7px;
		}
	}

	&__legal,
	&__copyright,
	&__menu {
		text-align: center;
	}

	@include mq($to: extrasmall) {
		&__section {
			display: inline-block;
			padding: 20px;
		}
		&__nav {
			display: block;
		}
		&__legal {
			padding: 0 20px 20px 0;
		}
		&__copyright {
			display: block;
		}
	}
}
